@model OrderViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="h2 row">
  <span class="col-sm"></span>
  <h1>Choose Your Options</h1>
  <span class="col-sm"></span>
</div>
<form class="form-check" asp-action="placeorder" method="post">

  <h3 class="list-group-item-secondary">Size</h3>
  <div class="list-group list-group-flush">
    @foreach (var size in Model.Sizes)
    {
      <div>
        <label class="form-check-label list-group-item">
          <input asp-for="SelectedSize" value="@size" class="form-check-input me-1" type="radio">
          @size
        </label>
      </div>
    }
  </div>

  <div class="list-group list-group-flush">
    <h3 class="list-group-item-secondary">Crust</h3>
    @foreach (var crust in Model.Crusts)
    {
      <label class="list-group-item form-check-label">
        <input asp-for="SelectedCrust" value="@crust" class="form-check-input me-1" type="radio">
        @crust
      </label>
    }
  </div>

  <div class="list-group list-group-flush">
    <h3 class="list-group-item-secondary">Toppings</h3>
    @foreach (var topping in Model.Toppings)
    {
      <label class="list-group-item form-check-label">
        <input value="@topping" name="@Model.SelectedToppings" class="form-check-input me-1" type="checkbox">
        @topping
      </label>
    }
  </div>


  <div class="row">
    <button class="btn btn-primary" type="submit">Place Order</button>
  </div>

</form>
