<div class="container">
  <div class="h2 row">
    <span class="col-sm"></span>
    <h1>Welcome To PizzaBox</h1>
    <span class="col-sm"></span>
  </div>
  <form class="row">
    <button method="post" type="submit" class="col-sm btn btn-outline-primary" asp-controller="customer"
      asp-action="name">Customer</button>
    <button type="button" class="col-sm btn btn-outline-primary">Employee</button>
  </form>